  
  /* Tooltip text */
  button .ct-tooltiptext {
    // visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    font-size: 0.7em;
    border-radius: 6px; 
    visibility: hidden;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  // button:hover .ct-tooltiptext {
  //   visibility: visible;
  // }

