<div>
  <p class="lead">
    Chose one button to test the tooltip function!
    <br>
    After you have clicked the button, you can also press ESC or click anywhere out of the button to close the tooltip.
  </p>
  <p class="lead">You can <a routerLink="" class="alert-link">back!</a>, as well.</p>
</div>
<p>
  <button custom-tooltip [tooltipInfo]="tooltipActioA" type="button" class="btn btn-success btn-lg mr-sm-2">Action
    A!
  </button>
  <button custom-tooltip [tooltipInfo]="tooltipActioB" type="button" class="btn btn-success btn-lg mr-sm-2">Action
    B!</button>
</p>