<div>
  <p class="lead">
    Chose one button to test the tooltip function!
    <br>
    After you have clicked the button, you can also press ESC or click anywhere out of the button to close the tooltip.
  </p>
  <p class="lead">You can <a routerLink="" class="alert-link">back!</a>, as well.</p>
</div>

<p>
    <button custom-tooltip type="button" class="btn btn-success btn-lg mr-sm-2">Action
      one!
    </button>
  <button custom-tooltip type="button" class="btn btn-success btn-lg mr-sm-2">Action
    two!</button>

</p>